@model Webphone.Models.Categories

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<main id="main" class="main">
<h1>Xác nhận chỉnh sửa</h1>

<h4>Danh mục sản phẩm</h4>
<hr />
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Chỉnh sửa danh mục</h5>

            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="CategoryID" />
                <div class="form-group">
                    <label asp-for="Names" class="control-label">Tên danh mục</label>
                    <input asp-for="Names" class="form-control" />
                    <span asp-validation-for="Names" class="text-danger"></span>
                </div>
                <div class="form-group col-md-12">
                    <label class="control-label">Hình ảnh</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <button class="btn btn-success" type="button" onclick="openDialog()">Choose a pic</button>
                        </div>
                        <input type="text" class="form-control" asp-for="Images" id="file_input" aria-describedby="button-addon2">
                    </div>
                </div>
                <div class="form-group mt-5 mb-5">
                    <label>
                        @Html.CheckBox("IsActive", Model.IsActive)
                        Hiển thị
                    </label>
                </div>
                <button type="submit" class="btn btn-lg btn-primary p-2"><i class="bi bi-file-plus-fill"></i>Lưu</button>
                <a asp-controller="Categories" asp-action="Index" class="btn btn-lg btn-warning p-2">Quay lại</a>
            </form>

        </div>
    </div>
</main>

@{
    var summerNote = new Webphone.Areas.Admin.Models.SummerNote("#Contents");
    <partial name="_SummerNote" model="summerNote" />
}